<h2>
  ¿Quiénes somos?
</h2>
<p>
Somos una Organización de Rescate Animal de perros y gatos de la ciudad de Quito. Empezamos nuestras labores oficialmente bajo este nombre desde febrero del 2015.

Tenemos como misión principal socorrer a animales (principalmente perros y gatos) en situación de vulnerabilidad, desamparo, maltrato, abandono para  brindarles una segunda oportunidad de vida digna. Brindarles un tratamiento veterinario adecuado y la rehabilitación necesaria para encontrarles un nuevo hogar definitivo responsable. Además promover el trato digno hacia los animales de compañía y silvestres por medio de programa de educación.

Queremos ser una organización, activa e innovadora, que contribuya al bienestar, protección, cuidado, conservación y defensa de los animales mediante  campañas de adopción, esterilización, educación, cumplimiento de las leyes de defensa de los derechos de los animales. Fortalecer la cultura de respeto, armonía  y la convivencia digna entre personas y animales domésticos mediante la implementación de programas integrales en la ciudad de Quito que fomenten principalmente la tenencia responsable de animales de compañía, entendiendo que así se puede evitar problemas de salud pública, y violencia en general en la sociedad.
</p>
<h3>
  Refugio de Gatos
</h3>
<p>
  Nuestro refugio de gatos tiene capacidad para 20 gatos, siguiendo protocolos y guías de manejo para cubrir con sus 5 libertades. Para que los gatos se desarrollen, estén felices y cómodos es muy importante adecuar el espacio donde viven. Tener juguetes, lugares donde esconderse, lugares altos donde trepar, acostarse, poder jugar, acicalar sus uñas y expresar su comportamiento natural. Por ello es muy importante para ellos poder realizar estas adecuaciones en nuestro refugio para que pasen mejor durante su estadía con nosotros, mientras más felices estén, más van a expresarse y es más fácil una familia se enamore de ellos.
</p>
